:root{
    /*--main-color: #461246;
    --hover: #cc65cc;
    --hover: #ab65cc;
    --hover: #65c9cc;
    */
    --main-color: #207069;
    --main-color2: #062c29;

    --white: #fafafa;
    --black: #252525;
    
    --hover: #1dd8df;
    --hover2: #87e6e9;
    
    --linear-gradient: linear-gradient(43deg, #4158D0 0%, #50acc8 46%, #FFCC70 100%);
    --linear-gradient-hover: linear-gradient(43deg, #FFCC70 0%, #50acc8 46%, #4158D0 100%);

    --warning: linear-gradient(43deg, #58190e 0%, #d63737 46%, #FFCC70 100%);
    --warning-hover: linear-gradient(43deg, #FFCC70 0%, #d63737 46%, #58190e 100%);

    --main-color-linear-gradient: linear-gradient(43deg, #062c29 0%, #207069 46%, #87e6e9 100%);
    --main-color-linear-gradient-hover: linear-gradient(43deg, #87e6e9 0%, #207069 46%, #062c29 100%);

    --transition: 2s;
    --transform: translateY(-20px);
}

button,
input,
optgroup,
select,
textarea{
    margin:0;

    font-family:inherit;
    font-size:inherit;

    line-height:inherit;
}

h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;text-align: center;}h1{font-size:calc(1.375rem + 1.5vw)}@media (min-width:1200px){h1{font-size:2.5rem}}h2{font-size:calc(1.325rem + .9vw)}@media (min-width:1200px){h2{font-size:2rem}}h3{font-size:calc(1.3rem + .6vw)}@media (min-width:1200px){h3{font-size:1.75rem}}h4{font-size:calc(1.275rem + .3vw)}@media (min-width:1200px){h4{font-size:1.5rem}}h5{font-size:1.25rem}h6{font-size:1rem}p{margin-top:0;margin-bottom:1rem}abbr[data-bs-original-title],abbr[title]{-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none}address{margin-bottom:1rem;font-style:normal;line-height:inherit}ol,ul{padding-right:2rem}dl,ol,ul{margin-top:0;margin-bottom:1rem}ol ol,ol ul,ul ol,ul ul{margin-bottom:0}dt{font-weight:700}dd{margin-bottom:.5rem;margin-right:0}blockquote{margin:0 0 1rem}b,strong{font-weight:bolder}small{font-size:.875em}mark{padding:.2em;background-color:#fcf8e3}sub,sup{position:relative;font-size:.75em;line-height:0;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}a{color:#0d6efd;text-decoration:underline}a:hover{color:#0a58ca}a:not([href]):not([class]),a:not([href]):not([class]):hover{color:inherit;text-decoration:none}code,kbd,pre,samp{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:1em;direction:ltr;unicode-bidi:bidi-override}pre{display:block;margin-top:0;margin-bottom:1rem;overflow:auto;font-size:.875em}pre code{font-size:inherit;color:inherit;word-break:normal}code{font-size:.875em;color:#d63384;word-wrap:break-word}a>code{color:inherit}kbd{padding:.2rem .4rem;font-size:.875em;color:#fff;background-color:#212529;border-radius:.2rem}kbd kbd{padding:0;font-size:1em;font-weight:700}figure{margin:0 0 1rem}img,svg{vertical-align:middle}table{caption-side:bottom;border-collapse:collapse}caption{padding-top:.5rem;padding-bottom:.5rem;color:#6c757d;text-align:right}th{text-align:inherit;text-align:-webkit-match-parent}tbody,td,tfoot,th,thead,tr{border-color:inherit;border-style:solid;border-width:0}label{display:inline-block}button{border-radius:0}button:focus:not(:focus-visible){outline:0}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,select{text-transform:none}[role=button]{cursor:pointer}select{word-wrap:normal}select:disabled{opacity:1}[list]::-webkit-calendar-picker-indicator{display:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}::-moz-focus-inner{padding:0;border-style:none}textarea{resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{float:right;width:100%;padding:0;margin-bottom:.5rem;font-size:calc(1.275rem + .3vw);line-height:inherit}@media (min-width:1200px){legend{font-size:1.5rem}}legend+*{clear:right}::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-fields-wrapper,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-text,::-webkit-datetime-edit-year-field{padding:0}::-webkit-inner-spin-button{height:auto}[type=search]{outline-offset:-2px;-webkit-appearance:textfield}[type=email],[type=number],[type=tel],[type=url]{direction:ltr}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-color-swatch-wrapper{padding:0}::file-selector-button{font:inherit}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}output{display:inline-block}iframe{border:0}summary{display:list-item;cursor:pointer}progress{vertical-align:baseline}[hidden]{display:none!important}

*{
    margin: 0;
    padding: 0;
    top: 0;

    box-sizing: border-box;
    text-decoration: none !important;
}

body{
    outline: none;

    color: var(--white) !important;
    background-color: var(--black) !important;

    overflow: hidden !important;

    margin:0;

    font-size:1rem;
    font-weight:400;
    font-family:var(--bs-font-sans-serif);

    line-height:1.5;
    
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent;
}

html{
    bottom: 0;    
    background-color: var(--black) !important;
    
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*========================== GLOBAL =============================*/
#space-top{
    margin: 4% 0 0;
}

@media screen and (max-width: 1024px) {
    #space-top{
        margin: 10% 0;
    }
}

button,
input,
optgroup,
select,
textarea{
    margin:0;

    font-family:inherit;
    font-size:inherit;

    line-height:inherit;
}

h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;text-align: center;}h1{font-size:calc(1.375rem + 1.5vw)}@media (min-width:1200px){h1{font-size:2.5rem}}h2{font-size:calc(1.325rem + .9vw)}@media (min-width:1200px){h2{font-size:2rem}}h3{font-size:calc(1.3rem + .6vw)}@media (min-width:1200px){h3{font-size:1.75rem}}h4{font-size:calc(1.275rem + .3vw)}@media (min-width:1200px){h4{font-size:1.5rem}}h5{font-size:1.25rem}h6{font-size:1rem}p{margin-top:0;margin-bottom:1rem}abbr[data-bs-original-title],abbr[title]{-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none}address{margin-bottom:1rem;font-style:normal;line-height:inherit}ol,ul{padding-right:2rem}dl,ol,ul{margin-top:0;margin-bottom:1rem}ol ol,ol ul,ul ol,ul ul{margin-bottom:0}dt{font-weight:700}dd{margin-bottom:.5rem;margin-right:0}blockquote{margin:0 0 1rem}b,strong{font-weight:bolder}small{font-size:.875em}mark{padding:.2em;background-color:#fcf8e3}sub,sup{position:relative;font-size:.75em;line-height:0;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}a{color:#0d6efd;text-decoration:underline}a:hover{color:#0a58ca}a:not([href]):not([class]),a:not([href]):not([class]):hover{color:inherit;text-decoration:none}code,kbd,pre,samp{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:1em;direction:ltr;unicode-bidi:bidi-override}pre{display:block;margin-top:0;margin-bottom:1rem;overflow:auto;font-size:.875em}pre code{font-size:inherit;color:inherit;word-break:normal}code{font-size:.875em;color:#d63384;word-wrap:break-word}a>code{color:inherit}kbd{padding:.2rem .4rem;font-size:.875em;color:#fff;background-color:#212529;border-radius:.2rem}kbd kbd{padding:0;font-size:1em;font-weight:700}figure{margin:0 0 1rem}img,svg{vertical-align:middle}table{caption-side:bottom;border-collapse:collapse}caption{padding-top:.5rem;padding-bottom:.5rem;color:#6c757d;text-align:right}th{text-align:inherit;text-align:-webkit-match-parent}tbody,td,tfoot,th,thead,tr{border-color:inherit;border-style:solid;border-width:0}label{display:inline-block}button{border-radius:0}button:focus:not(:focus-visible){outline:0}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,select{text-transform:none}[role=button]{cursor:pointer}select{word-wrap:normal}select:disabled{opacity:1}[list]::-webkit-calendar-picker-indicator{display:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}::-moz-focus-inner{padding:0;border-style:none}textarea{resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{float:right;width:100%;padding:0;margin-bottom:.5rem;font-size:calc(1.275rem + .3vw);line-height:inherit}@media (min-width:1200px){legend{font-size:1.5rem}}legend+*{clear:right}::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-fields-wrapper,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-text,::-webkit-datetime-edit-year-field{padding:0}::-webkit-inner-spin-button{height:auto}[type=search]{outline-offset:-2px;-webkit-appearance:textfield}[type=email],[type=number],[type=tel],[type=url]{direction:ltr}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-color-swatch-wrapper{padding:0}::file-selector-button{font:inherit}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}output{display:inline-block}iframe{border:0}summary{display:list-item;cursor:pointer}progress{vertical-align:baseline}[hidden]{display:none!important}

a{
    text-decoration: none !important;
    color: var(--white) !important;
}

input{
    border: none;
}

button{
    border: none;
}

.link{
    color: var(--hover) !important;
}

li{
    list-style-type: none;
}

.numeral-list{
    list-style-type: disc;
}

/*#left,
#right{
    width: 50%;
    clear: both;
}*/

.columns{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: 
    "top-column top-column"
    "left-column right-column";

    gap: 10px;
}

.top-column{
    grid-area: navigation;
}

.left-column{
    grid-area: left-column;
}

.right-column{
    grid-area: right-column;
}

/*========================== SCROLL BAR =============================*/
/*width*/
::-webkit-scrollbar{
    width: 10px;
}

/*track*/
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/*handle*/
::-webkit-scrollbar-thumb{
    background: var(--linear-gradient);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--linear-gradient-hover);
}

/*========================== ICONS =============================*/
.fa-instagram{
    color: var(--white);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    
    border-radius: 50%;
}

.instagram-text{
    color: var(--white);
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

    background-clip: text;
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
}

.fa-twitter{
    color: #00acee;
}

.fa-snapchat{
    color: #000;
    background: var(--white)c00;
}

.fa-github{
    color: var(--white);
    background: #000;
    
    border-radius: 25px;
}

.fa-pinterest{
    background: var(--white);
    color: #c8232c;
    
    border-radius: 25px;
}

.fa-linkedin,
.fa-linkedin-in{
    color: var(--white);
    background: #0072b1; 
}

.fa-whatsapp{
    color: var(--white);
    background: #25d366;
    
    border-radius: 25px;
}

.fa-facebook{
    color: var(--white);
    background: #4267b2;
}

.fa-youtube{
    color: #c4302b;
}

.fa-tiktok{
    color: #111111;
    filter: drop-shadow(2px 0 0 #fd3e3e) drop-shadow(-2px -2px 0 #4de8f4);
}

.fa-spotify{
    /*color: linear-gradient(120deg, #1db954,#191414);*/
    color: #1db954;
    background: #000;
    
    border-radius: 50%;
}

.g-blue{
    color: #4285f4;
}

.o-red{
    color: #db4437;
}

.o-yellow{
    color: #f4b400;
}

.l-green{
    color: #0f9d58;
}

.e-red{
    color: #db4437;
    
    display: inline-block;
    
    transform: rotate(-20deg);
}

.fa-reddit{
    color: #ff4500;
    background: var(--white);
    border-radius: 50%;
}

.fa-quora{
    color: #a82400;
}

.fa-podcast{
    color: var(--white);
}

/*========================== SLIDESHOW WITH NAVIGATION BUTTONS =============================*/
.slidershow{
    /*width: 700px;*/
    width: 100%;
    height: 400px;

    overflow: hidden;
}

.middle{
    position: absolute;

    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.navigation{
    position: absolute;
    
    left: 50%;
    bottom: 20px;
    margin-top: 40%;
    
    transform: translateX(-50%);
    
    display: flex;
}

.bar{
    width: 50px;
    height: 10px;
    margin: 6px;
    
    border-radius: 25px;
    border: 2px solid #fff;
    
    transition: .4s;
    cursor: pointer;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    
    display: flex;
}

.slide{
    width: 20%;
    
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;

    border-radius: 25px;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

#r4:checked ~ .s1{
    margin-left: -60%;
}

#r5:checked ~ .s1{
    margin-left: -80%;
}

/*========================== NAV =============================*/
nav{
    display: flex !important;
    position: fixed;
    
    width: 100%;
    height: 8%;
    
    background: var(--linear-gradient);
    
    justify-content: space-around;
}

nav:hover{
    background: var(--linear-gradient-hover);
    transition: var(--transition);
}

nav h1{
    font-size: 2rem;
}

nav ul{
    display: flex;
}

nav ul li{
    font-size: 20px;
}

nav h1:hover
nav ul li:hover,
#cart:hover{
    color: var(--hover) !important;
}

#cart{
    font-size: 30px;
}

#menu{
    display: none;
    position: fixed;
    
    width: 100%;
    height: 90%;
    top: 10%;
    
    font-size: 35px;
    
    background: var(--linear-gradient);
    
    transition: var(--transition);
}

#menu ul li{
    margin-bottom: 10%;
}

#menu ul li:hover{
    color: var(--hover);
    transition: var(--transition);
}

#nav-menu{
    display: none;
    cursor: pointer;
}

#nav-menu:hover{
    color: var(--hover);
}

#open-menu-btn,
#close-menu-btn{
    transition: var(--transition);
}

#nav-menu ul li{
    color: var(--white);
    font-size: 30px;
}

/*===================== THEMES ======================*/
#themes{
    color: var(--white);
    
    margin-right: 2%;
    font-size: 30px;
}

#dark-theme{
    display: none;
}

#light-theme,
#dark-theme{
    cursor: pointer;
}

#light-theme:hover,
#dark-theme:hover{
    color: var(--hover);
}

/*===================== SCROLL TO TOP ======================*/
#scroll-to-top{
    display: none;
    position: fixed;
    
    color: #fff;
    background: var(--linear-gradient);
    border: 2px solid var(--white);
    
    font-size: 50px;
    
    /*width: 6%;
    height: 12%;*/
    
    width: 80px;
    height: 80px;
    margin: 1%;
    
    top: 80%;
    right: 2.5%;
    
    border-radius: 25px;

}

#scroll-to-top:hover{
    color: var(--white);
    background: var(--linear-gradient-hover);
    
    border-radius: 50%;
    transition: var(--transition);
}

/*========================== HOME =============================*/
#home{
    display: flex;
    
    background: var(--linear-gradient);
    
    height: 85vh;
    padding: 20px;
}

#home .slidershow,
#home #home-website-info{
    height: 90%;
    margin: 2%;
}

#home-website-info{
    text-align: center;
}

/*========================== MISSION =============================*/
#mission{
    font-size: 25px;
    text-align: center;
}

/*========================== FOOTER =============================*/
footer{
    background: var(--linear-gradient);

    justify-content: center;
    align-items: center;    
}

@media screen and (max-width: 1024px) {
    footer{
        padding: 20px;
    }
}

#footer-flex{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

footer:hover{
    background: var(--linear-gradient-hover);
    transition: var(--transition);
}

footer h2,
footer ul li{
    color: var(--white);
}

footer ul li:hover,
footer ul li a:hover{
    color: var(--hover) !important;
}

footer p{
    color: var(--white);
    
    font-size: 25px;
    text-align: center;
}

/*========================== STORE CATEGORIES / PRODUCTS =============================*/
#store-categories,
#products{
    margin: 2%;
    padding: 10px;

    display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.store-category,
.product{
    background: var(--main-color2);

    width: 300px;
    height: 300px;

    margin: 2%;
    padding: 20px;

    border-radius: 25px;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.product{
    height: 400px;
}

.store-category img,
.product img{
    width: 80%;
    height: 80%;

    border-radius: 15px;

    object-fit: cover;
}

.category-title,
.product-title{
    font-size: 1.5rem;
}

.product-price-stars{
    font-size: 1rem;
    display: flex;

    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/*========================== BANNER =============================*/
#banner{
    background: var(--linear-gradient);

    height: 80vh;
    padding: 20px;

    display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

#banner h2{
    color: var(--main-color);
    font-size: 3.5rem;

    text-align: left;
}

#banner button{
    color: var(--white);
    background: var(--main-color-linear-gradient);
    
    width: 50%;
    height: 35px;
    
    border: 1px solid var(--hover);
    border-radius: 50px;
    
    justify-self: center;
}

#banner button:hover{
    color: var(--white);
    background: var(--main-color-linear-gradient);
    
    border: 1px solid var(--hover);

    transition: var(--transition);
}

#banner button:hover{
    transform: var(--transform);
}

/*========================== TESTIMONIAL =============================*/
#testimonials{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.testimonial{
    color: var(--white);
    background: var(--main-color2);

    width: 300px;
    height: 300px;

    margin: 2%;
    border-radius: 25px;
}

.testimonial img{
    width: 90%;
    height: 40%;
    border-radius: 15px;

    object-fit: cover;
}

/*========================== PRODUCT DESCRIPTION =============================*/
#img-header{
    width: 100%;
    height: 40vh;
    border-radius: 25px;

    object-fit: cover;
}

#img-slide{
    width: 95%;
}

#img-slide img{
    width: 90%;
    height: 100px;
    margin: 2%;
    border-radius: 10px;

    object-fit: cover;
}

#stars{
    display: flex;
}

#stars-and-price{
    width: 50%;
    margin-left: 25% !important;
    
    font-size: 2rem;

    display: flex; 
}

#open-close-desc{
    font-size: 2.5rem;
    cursor: pointer;
}

#open-close-desc:hover{
    color: var(--hover);
    transition: var(--transition);
}

#product-des button{
    color: var(--white);
    background: var(--main-color-linear-gradient);
    
    width: 50%;
    height: 50px;
    margin-left: 25%;

    margin-bottom: 3%;
    
    border: 1px solid var(--hover);
    border-radius: 50px;
}

#product-desc button:hover{
    transform: var(--transform);
    transition: var(--transition);
}


/*========================== CART PAGE =============================*/
#cart-page{
    font-size: 1.2rem;

    justify-content: center;
    align-items: center;
    display: flex;
}

#cart-page:hover{
    color: #fafafa !important;
}

@media screen and (max-width: 1024px) {
    #cart-page{
        font-size: 1rem;
    }
}

#cart-page table{
    color: #fafafa !important;
    background: var(--main-color);

    padding: 20px;

    border: 1px var(--main-color2);
    border-radius: 20px;
}

th{
    padding: 10px;
}

#cart-page table img{
    width: 10rem;
    height: 200px;
    padding: 10px;

    border-radius: 30px;
}

.cart-img-name{
    display: flex;
}

#cart-page input{
    width: 20%;
}

#total-price{
    font-size: 2rem;

    display: flex;
    justify-content: space-evenly;
}

#checkout-button{
    color: var(--white);
    background: var(--main-color-linear-gradient);
    
    width: 50%;
    height: 50px;
    margin-left: 25%;

    margin-bottom: 3%;
    
    border: 1px solid var(--hover);
    border-radius: 50px;
}

#checkout-button:hover{
    transform: var(--transform);
    transition: var(--transition);
}

/*========================== CONTACTS AND SOCIALS =============================*/
#contact{
    align-items: center !important;
    justify-content: center !important;

    margin: 0% 2.5% 2.5%;
}

#contact form input,
#contact form textarea{
    width: 100%;
    height: 30px;
    
    /*margin-left: 2%;*/

    margin-bottom: 2%;

    border: 2px solid var(--hover);
    border-radius: 25px;
}

#contact form textarea{
    resize: none;
}

#contact form button{
    width: 50%;

    margin-left: 25%;
    margin-right: 25%;
}

#form-button{
    color: var(--white);
    background: var(--main-color);

    height: 20%;
    /*margin-left: 2.5%;*/
    padding: 10px;

    border: none;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#form-button:hover{
    color: var(--main-color);
    background: none;
    
    border: 1px solid var(--hover);

    transform: var(--transform);
    transition: var(--transition);
}

/*======================================== ACCOUNT =======================================*/

#signup-and-login{
    margin: 6% 2.5% 2%;
    padding: 30px;

    border-radius: 25px;
    border: 2px solid var(--main-color);
}

#signup-and-login input::placeholder{
    font-size: 20px;
}

#signup-and-login-img,
#forgot-password-img,
#change-password-img{
    width: 50%;
    height: 500px;

    margin: 2% 2.5%;
    border-radius: 25px;

    object-fit: cover;
}

#login-body,
#signup-body{
    font-size: 25px;

    margin: 2% 5%;
    /*margin: 2% 0 2% 5%;*/
    padding: 20px;

    border-radius: 25px;
    border: 2px solid var(--hover);
}

#signup-body{
    width: 100%;
}
#login-body input,
#signup-body input{
    display: table;

    width: 100%;
    margin: 2% 0;

    border-radius: 25px;
}

#login-body button,
#signup-body button{
    color: var(--white);
    background: var(--main-color-linear-gradient);

    width: 70%;
    margin: 1% 15%;

    border-radius: 25px;
}

#login-body button:hover,
#signup-body button:hover{
    color: var(--white);
    background: var(--main-color-linear-gradient-hover);
}

#forgot-password-link{
    font-size: 20px;
}

#forgot-password-link a:hover{
    color: var(--main-color) !important;
}

#go-to-signup-login-page{
    color: var(--hover) !important;
}

#go-to-signup-login-page:hover{
    color: var(--main-color) !important;
}

@media screen and (min-width: 769px) {
    #signup-and-login{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    #signup-and-login{
        margin-top: 12%;
    }

    #signup-and-login-img,
    #forgot-password-img,
    #change-password-img{
        width: 98%;
        height: 300px;

        margin: 2% 1%;
    }

    #login-body,
    #signup-body{
        width: 95%;
        margin: 2% 2.5%;
    }
}


/*========================== RESPONSIVE MEDIA QUERIES =============================*/
@media screen and (min-width: 1024px) {
    #menu{
        display: none !important;
    }

    #product-des #half{
        display: flex;
    }
    
    #product-des #half div{
        width: 50%;
        margin: 2.5%;
    }  
    
}

@media screen and (max-width: 1024px) {
    /*.columns{
        display: grid;
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3em 30em;
        grid-template-areas: 
        "top-column top-column"
        "left-column" 
        "right-column";
    
        gap: 10px;
    }

    .slidershow{
        width: 100%;
    }

    #home-website-info{
        width: 100%;
    }*/

    nav h1{
        font-size: 1.5rem;
    }

    #menu,
    #menu-laptop,
    #close-menu-btn{
        display: none;
    }

    #nav-menu{
        display: block;
    }

    #home{
        display: inline-block;
    }

    #home .slidershow,
    #home #home-website-info{
        height: 48%;
        margin: 2%;
    }

    #footer-flex{
        display: block;
    }

    #footer-flex h2{
        text-align: left;
        margin-left: 5%;
    }
}

@media screen and (min-width: 997px) {
    #banner img{
        width: 50%;
        height: 90%;
        
        border-radius: 25px;
        
        object-fit: cover;
    }
}

@media screen and (max-width: 996px) {
    #banner img{
        width: 90%;
        height: 40%;
        
        border-radius: 25px;
        
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    /*.columns{
        display: grid;
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3em 30em;
        grid-template-areas: 
        "top-column top-column"
        "left-column" 
        "right-column";
    
        gap: 10px;
    }

    .slidershow{
        width: 100%;
    }

    #home-website-info{
        width: 100%;
    }*/

    #menu,
    #menu-laptop,
    #close-menu-btn{
        display: none;
    }

    #nav-menu{
        display: block;
    }

    #home{
        display: inline-block;
    }

    #home .slidershow,
    #home #home-website-info{
        height: 48%;
        margin: 2%;
    }

    #footer-flex{
        display: block;
    }

    #footer-flex h2{
        text-align: left;
        margin-left: 5%;
    }

    #product-des #half{
        display: block;
        margin: 2.5%;
    }
    
    #product-des #half div{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #cart-page{
        font-size: .8rem;
    }
  
    #cart-page table img{
        height: 100px;
    }
    
    #cart-page input{
        width: 15%;
    }
    
    #total-price{
        font-size: 1.25rem;
    }
    
    #checkout-button{
        width: 50%;
        height: 30px;
        margin-left: 25%;
    }    
}

@media screen and (max-width: 500px) {
    nav h1{
        font-size: 1.3rem;
    }

    #cart,
    #themes,
    #nav-menu ul li{
        font-size: 20px;
    }

    #themes{
        margin-right: 0;
    }
}


@media screen and (max-width: 400px) {
    #cart-page table img{
        width: 6rem;
        height: 100px;
    }
    
    #total-price{
        font-size: 1rem;
    }
    
    #checkout-button{
        font-size: .8rem;
    }    
}
